.blog{
    width: 95%;
    overflow: hidden;
}

.blog>h2{
    display: none;
}

.blog h4{
    color:var(--text-color2);
    font-size: 4.8rem;
}

.blog>a{
    position:relative;
    font-family: var(--title-font);
    color:var(--primary-color1);
    text-decoration: none;
    font-size:3.2rem;
    left:47rem;
    bottom:6rem;
    display: flex;
    align-items:center;
}

.blog .box-news{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:50px;
}

.news{
    display: flex;
    align-items: center;
}

.news img{
    height: 180px;
    width: 180px;
}

.news .news-content{
    margin-left: -5%;
    background-color: var(--background-cards);
    border-radius: 6px;
    padding:20px;
    box-shadow: 0 0 10px rgba(128,128,128,0.8);
}

.news .news-content p{
    font-size: 2.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow:hidden;
}

.news .news-content a{
    font-size: 1.6rem;
    color:var(--primary-color1);
    text-decoration: none;
}

.blog a>img{
    height: 3.2rem;
    margin-left:10px;
}

@media (max-width:1000px){
    .blog h2{
        display: block;
    }
    .blog h4{
        color:var(--title-color1);
        font-size: 2rem;
        text-transform: uppercase;
        display:inline-block;
        position: relative;
        top:2rem;
        left:50%;
        transform: translateX(-50%);
        margin-top:4rem;
    }
    .blog h4>div{
        display: flex;
    }
    .blog h4>div div:nth-of-type(1){
        border-bottom: 3px solid var(--primary-color1);
        margin-right: 4px;
        width: 20%;
    }
    .blog h4>div div:nth-of-type(2){
        border-bottom: 3px solid var(--primary-color1);
        margin-right: 4px;
        width: 10%;
    }
    .blog h4>div div:nth-of-type(3){
        border-bottom: 3px solid var(--primary-color1);
        width: 5%;
    }
    .blog>a{
        left: 0;
        bottom:7rem;
        font-size:1.6rem;
        border-bottom:2px solid var(--primary-color3);
        width: 16.8rem;
        margin-bottom: 1rem;
    }
    .blog>a img{
        height: 2rem;
    }
    
    .blog .box-news{
        display: flex;
        flex-direction: column;
        gap:20px;
        padding-bottom: 10px;
    }
    
    .news:nth-of-type(even){
        flex-direction: row-reverse;
    }
    .news:nth-of-type(even) .news-content{
        margin-left:0;
        margin-right: -20px;
        z-index: 2;
    }

    .news img{
        height: 70px;
        width: 70px;
    }
    
    .news .news-content{
        margin-left: -5%;
        padding:10px;
        box-shadow: 0 0 10px rgba(128,128,128,0.5);
        width: 55%;
        min-width: 200px;
    }
    
    .news .news-content p{
        font-size: 1.2rem;
    }
    .news .news-content a{
        font-size: 1rem;
    }
    
}